{% assign metafield = product.metafields._eko_.eko_gallery.value | default: product.metafields.custom.eko_gallery.value %}
{% assign globalMetafield = app.metafields.eko.settings.value %}
{% assign themeTemplate = globalMetafield.gallery[product.template_suffix] | default: globalMetafield.gallery['_default_eko_template'] %}
{% assign layout = metafield.layout | default: themeTemplate.layout %}
{% assign style = metafield.style | default: themeTemplate.style %}
{% assign globalQueryparams = '' %}
{% for param in themeTemplate.qp %}
    {% capture globalQueryparams %}{{ globalQueryparams }}&{{ param[0] }}={{ param[1] }}{% endcapture %}
{% endfor %}

{% capture galleryPrefix %}https://{{ metafield.options.galleryEnv | default: '' }}play.eko.com/components/eko-gallery/eko-{{ metafield.options.galleryName | default: 'gallery' }}{% endcapture %}
{% capture assetPrefix %}eko-{{ metafield.options.galleryName | default: 'gallery' }}{% endcapture %}
{% capture deliveryPrefix %}https://{{ metafield.options.galleryEnv | default: '' }}play.eko.com/{% endcapture %}

{% liquid
    assign ekoMedia = ''
    for asset in metafield.assets
        if asset.mediaPosition
            assign ekoMedia = ekoMedia | append: ',' | append: asset.mediaPosition | append: ','
        endif
        if asset.desktopMediaPosition
            assign ekoMedia = ekoMedia | append: asset.desktopMediaPosition | append: ','
        endif
    endfor
%}

{% assign galleryVersion = metafield.version | default: '2' %}
{% assign includeProductMedia = metafield.options.includeProductMedia | default: true, allow_false: true %}
{% assign navEnabled = metafield.options.nav.enabled | default: true, allow_false: true %}
{% assign videoPlaysInline = layout.common.videoPlaysInline | default: metafield.options.carousel.playsInline %}

{% assign carouselItemMobilepMaxWidth = layout.mobile.config.galleryMaxWidth | default: 100 | remove: 'px' | remove: '%' | times: 1 %}
{% assign carouselItemDesktopMaxWidth = layout.desktop.config.galleryMaxWidth | default: 900 | remove: 'px' | times: 1 %}
{% if layout.desktop.config.orientation == 'left' or layout.desktop.config.orientation == 'right' %}
    {% comment %} If nav is vertical - subtract the nav width and gallery gap from the carouselItemMaxWidth to get the actual width of the carousel items {% endcomment %}
    {% assign navWidth = layout.desktop.config.navItemsWidth | default: 80 | remove: 'px' | times: 1 %}
    {% assign galleryGap = layout.desktop.config.galleryGap | default: 12 | remove: 'px' | times: 1 %}
    {% assign carouselItemMaxWidth = carouselItemMaxWidth | minus: navWidth | minus: galleryGap %}
{% endif %}
{% assign carouselWidths = layout.common.carouselWidths %}
{% assign carouselSizes = layout.common.carouselSizes %}

{% comment %} Backward compatability: if no legacy options config - the new layout config will be used {% endcomment %}
{% assign legacyCarouselItemWidth = metafield.options.carousel.item.width %}
{% assign legacyCarouselItemHeight = metafield.options.carousel.item.height %}
{% assign legacyCarouselWidths = metafield.options.carousel.widths %}
{% assign legacyCarouselSizes = metafield.options.carousel.sizes %}

{% assign enableMobileArrows = false %}
{% if layout.mobile.config.navPagination.type == 'arrows' %}
    {% assign enableMobileArrows = true %}
{% endif %}
{% assign enableDesktopArrows = false %}
{% if layout.desktop.config.navPagination.type == 'arrows' %}
    {% assign enableDesktopArrows = true %}
{% endif %}

{% assign mobileNavSelectedStateType = layout.mobile.config.navItemsSelectedType | default: 'underline' %}
{% assign desktopNavSelectedStateType = layout.desktop.config.navItemsSelectedType | default: 'underline' %}
{% capture mobileNavSelectedStateClass %}eko-mobile-nav-selected-{{ mobileNavSelectedStateType }}{% endcapture %}
{% capture desktopNavSelectedStateClass %}eko-desktop-nav-selected-{{ desktopNavSelectedStateType }}{% endcapture %}

{% capture mobileCarouselScrollClass %}{% if layout.mobile.config.enableCarouselScroll == true and layout.mobile.type == 'embed' %}eko-mobile-carousel-scroll{% endif %}{% endcapture %}
{% capture desktopCarouselScrollClass %}{% if layout.desktop.config.enableCarouselScroll == true and layout.desktop.type == 'embed' %}eko-desktop-carousel-scroll{% endif %}{% endcapture %}
{% assign embedLayoutClasses = mobileCarouselScrollClass | append: ' ' | append: desktopCarouselScrollClass %}

{% render 'eko-ea-script-tag', galleryEnv: metafield.options.galleryEnv %}

{% liquid
    assign activeExperiment = false
    assign ekoLoading = ''
    assign today_date = 'now' | date: '%s'
    if metafield.experiments
        for experiment in metafield.experiments
            if experiment.type != "gallery" and experiment.type != "deliverable"
                continue
            endif
            assign start_date = experiment.startDate | date: '%s'
            assign end_date = experiment.endDate | date: '%s'
            if experiment.active == true and today_date > start_date and today_date < end_date
                assign activeExperiment = experiment
            endif
        endfor
    endif

    # For deliverable type experiments we must use deffered loading since we create multiple iframes
    if activeExperiment.deferredLoading == true or activeExperiment.type == 'deliverable'
        assign ekoLoading = 'deferred'
    endif
%}

{% if style %}
    {% render 'eko-style-variables', style: style, layout: layout %}
{% endif %}

{% if layout %}
    {% capture layoutClass %}{% render 'eko-layout-classes', layout: layout %}{% endcapture %}
{% else %}
    {% capture layoutClass %}eko-desktop-nav-layout eko-desktop-nav-left eko-mobile-nav-layout eko-mobile-nav-bottom{% endcapture %}
{% endif %}

<section
    class="eko-gallery {{ layoutClass | strip_html | strip_newlines | strip }}"
    data-version="1.0"
    data-storeproductid="{{ product.id }}"
    data-ekoproductid="{{ metafield.product.id | default: '' }}"
    {% if product.selected_or_first_available_variant %}data-activevariant="{{ product.selected_or_first_available_variant.id }}"{% endif %}
    aria-controls="main-content"
>
    {% if navEnabled %}
        <div class="eko-nav-container">
            {% render 'eko-nav-arrows', enableMobileArrows: enableMobileArrows, enableDesktopArrows: enableDesktopArrows %}
            <ul class="eko-nav {{ mobileNavSelectedStateClass | strip }} {{ desktopNavSelectedStateClass | strip }}">
                {% assign currentVariantId = '' %}
{% capture stringifiedSelectedVariantId %}{{ product.selected_or_first_available_variant.id }}{%endcapture%}
{% assign selectedVariant = metafield.variantMap[stringifiedSelectedVariantId] | default: 'ekonovar' %}

{% comment %} if updating the default value of 80 for 'navMobileMediaWidth' var - also update the default value of --navItemsWidthEkoMobile var in galleryVars.scss to match the updated value {% endcomment %}
{% assign navMobileMediaWidth = layout.mobile.config.navItemsWidth | default: 80 %}
{% assign navMobileMediaWidth = navMobileMediaWidth | remove: 'px' | times: 1 %}
{% comment %} if updating the default value of 80 for 'navDesktopMediaWidth' var - also update the default value of --navItemsWidthEkoDesktop var in galleryVars.scss to match the updated value {% endcomment %}
{% assign navDesktopMediaWidth = layout.desktop.config.navItemsWidth | default: 80 %}
{% assign navDesktopMediaWidth = navDesktopMediaWidth | remove: 'px' | times: 1 %}

{% for variantItems in metafield.items %}
    {% assign currentVariantId = variantItems.variantId %}
    {% assign ariaCurrentValue = "true" %}

    {% comment %} For the selected or first variant we render the matching nav directly to the dom{% endcomment %}
    {% comment %}
    !!!!!!! NOTE: The same section appears beneath inside a template element - they should be kept identical !!!!!!!
    {% endcomment %}
    {% if currentVariantId == selectedVariant %}
        {% for item in variantItems.items %}

            {% assign itemMedia = images[item.media] %}
            {% liquid
                assign assetType = item.type
                if itemMedia.media_type == 'external_video'
                    assign assetType = 'video'
                elsif itemMedia.media_type == 'video'
                    assign assetType = 'video'
                elsif itemMedia.media_type == 'image'
                    assign assetType = 'image'
                elsif item.type == 'interactive'
                    assign assetType = 'interactive'
                endif
            %}

            {% render 'eko-nav-item', index: forloop.index0, id: forloop.index0, assetType: item.type, media: itemMedia, variantId: currentVariantId, isHidden: false, label: item.label, stepsIndication: item.stepsIndication, icon: item.icon, ariaCurrentValue: ariaCurrentValue, navMobileMediaWidth: navMobileMediaWidth, navDesktopMediaWidth: navDesktopMediaWidth %}
            {% assign ariaCurrentValue = "false" %}

        {% endfor %}
    {% endif %}

    {% comment %} Render template of nav items for current variant {% endcomment %}
    <template id="eko-nav-variant-{{ currentVariantId }}">
        {% for item in variantItems.items %}
            {% assign itemMedia = images[item.media] %}
            {% liquid
                assign assetType = item.type
                if itemMedia.media_type == 'external_video'
                    assign assetType = 'video'
                elsif itemMedia.media_type == 'video'
                    assign assetType = 'video'
                elsif itemMedia.media_type == 'image'
                    assign assetType = 'image'
                elsif item.type == 'interactive'
                    assign assetType = 'interactive'
                endif
            %}

            {% render 'eko-nav-item', index: forloop.index0, id: forloop.index0, assetType: item.type, media: itemMedia, variantId: currentVariantId, isHidden: false, label: item.label, stepsIndication: item.stepsIndication, icon: item.icon, ariaCurrentValue: "false", navMobileMediaWidth: navMobileMediaWidth, navDesktopMediaWidth: navDesktopMediaWidth%}

        {% endfor %}
    </template>
{% endfor %}

            </ul>
        </div>
    {% endif %}
    {% if galleryVersion == '3' %}
        {% capture stringifiedSelectedVariantId %}{{ product.selected_or_first_available_variant.id }}{%endcapture%}
        {% assign selectedVariant = metafield.variantMap[stringifiedSelectedVariantId] | default: 'ekonovar' %}
        {% render 'eko-smart-gallery-container', deliverableId: metafield.deliverable.id, queryparams: metafield.deliverable.qp, globalQueryparams: globalQueryparams, env: metafield.options.galleryEnv, activeExperiment: activeExperiment, ekoLoading: ekoLoading, variantId: selectedVariant  %}
    {% endif %}
    <ul class="eko-carousel {{ embedLayoutClasses | strip }}">
        {% assign loadPriority = 'eager' %}
{% capture stringifiedSelectedVariantId %}{{ product.selected_or_first_available_variant.id }}{%endcapture%}
{% assign selectedVariant = metafield.variantMap[stringifiedSelectedVariantId] | default: 'ekonovar' %}

{% for variantItems in metafield.items %}
    {% assign currentVariantId = variantItems.variantId %}

    {% comment %} For the selected or first variant we render the matching nav directly to the dom{% endcomment %}
    {% comment %}
    !!!!!!! NOTE: The same section appears beneath inside a template element - they should be kept identical !!!!!!!
    {% endcomment %}
    {% if currentVariantId == selectedVariant %}
        {% for item in variantItems.items %}
            {% assign imageName = item.cover | default: item.media %}
            {% assign itemMedia = images[imageName] %}
            {% render 'eko-carousel-item', id: forloop.index0, index: forloop.index0, type: item.type, preload: false, fetchPriority: 'auto', loadPriority: loadPriority, media: itemMedia, variantId: currentVariantId, isHidden: false, carouselItemMobilepMaxWidth: carouselItemMobilepMaxWidth, carouselItemDesktopMaxWidth: carouselItemDesktopMaxWidth, widths: carouselWidths, sizes: carouselSizes, inline: videoPlaysInline %}
        {% endfor %}
    {% endif %}

    {% comment %} Render template of nav items for current variant {% endcomment %}
    <template id="eko-carousel-variant-{{ currentVariantId }}">
        {% for item in variantItems.items %}
            {% assign imageName = item.cover | default: item.media %}
            {% assign itemMedia = images[imageName] %}
            {% render 'eko-carousel-item', id: forloop.index0, index: forloop.index0, type: item.type, preload: false, fetchPriority: 'auto', loadPriority: loadPriority, media: itemMedia, variantId: currentVariantId, isHidden: false, carouselItemMobilepMaxWidth: carouselItemMobilepMaxWidth, carouselItemDesktopMaxWidth: carouselItemDesktopMaxWidth, widths: carouselWidths, sizes: carouselSizes, inline: videoPlaysInline %}
        {% endfor %}
    </template>
{% endfor %}

    </ul>
</section>

{% render 'eko-analytics-init' %}
{% render 'eko-global-variables', blockSettings: block.settings, activeExperiment: activeExperiment, metafield: metafield, globalMetafield: globalMetafield %}
