{% comment %}
    Props:
        id
        index
        type
        preload
        fetchPriority
        loadPriority
        media
        variantId
        isHidden
        inline
        legacyCarouselItemWidth
        legacyCarouselItemHeight
        legacyCarouselWidths
        legacyCarouselSizes
        carouselItemMobilepMaxWidth
        carouselItemDesktopMaxWidth
        widths
        sizes
{% endcomment %}
{% assign carouselItemDesktopMaxWidthX2 = carouselItemDesktopMaxWidth | times: 2 %}
{% assign carouselItemDesktopMaxWidthX3 = carouselItemDesktopMaxWidth | times: 3 %}

{% unless widths %}
    {% comment %}
        If widths are not provided, we need to calculate them based on the mobile breakpoint of the generic gallery and the desktop max width of the carousel item
        Assign the static mobile breakpoint of the generic gallery in carouselMobileMediaWidthXL - If changing this value it need to be updated in generic gallery's 'gallery.scss' as well
    {% endcomment %}
    {% assign carouselItemMobileWidthXL = 768 %}
    {% assign carouselItemMobileWidthL = carouselItemMobileWidthXL | minus: 100 %}
    {% assign carouselItemMobileWidthM = carouselItemMobileWidthXL | minus: 200 %}
    {% assign carouselItemMobileWidthS = carouselItemMobileWidthXL | minus: 300 %}
    {% assign carouselItemMobileWidthXS = carouselItemMobileWidthXL | minus: 400 %}
    {% capture widths %}{{ carouselItemMobileWidthXS }}, {{ carouselItemMobileWidthS }}, {{ carouselItemMobileWidthM }}, {{ carouselItemMobileWidthL }}, {{ carouselItemMobileWidthXL }}, {{ carouselItemDesktopMaxWidth }}, {{ carouselItemDesktopMaxWidthX2 }}, {{ carouselItemDesktopMaxWidthX3 }}{% endcapture %}
{% endunless %}

{% unless sizes %}
    {% comment %} If size are not provided, we need to calculate it based on the viewport portion of the carousel item {% endcomment %}
    {% capture sizes %}(min-width: 768px) {{ carouselItemDesktopMaxWidth }}px, {{ carouselItemMobilepMaxWidth }}vw{% endcapture %}
{% endunless %}

<li data-id="{{ id }}"
    data-type="{{ type }}"
    aria-label="Go to item {{ index }}"
    aria-hidden={% if index > 1 %}"true"{% else %}"false"{% endif %}
{% if isHidden %}
    class="eko-hidden-variant"
{% endif %}
{% if variantId != false %}
    data-variant="{{ variantId }}"
{% endif %}
{% if type == 'videoembed' %}
    data-src="{{ media | external_video_url: autoplay: '1' }}"
{% elsif type == 'video' %}
    data-srcset="{% for source in media.sources %}{{ source.url }} {{ source.mime_type }}{% unless forloop.last %}, {% endunless %}{% endfor %}"
    {% if inline %}
        data-inline="{{ inline }}"
    {% endif %}
{% endif %}
{% if device %}
    data-device="{{ device }}"
{% endif %}
>
    {% if legacyCarouselItemWidth and legacyCarouselItemHeight %}
        {% comment %} If carouselSrcHeight is present - it means the legacy carousel obj is used. With legacy settings we also used the height for the image_url and we didn't use multiplied width {% endcomment %}
        {{- media | image_url: width: legacyCarouselItemWidth, height: legacyCarouselItemHeight | image_tag: preload: preload, loading: loadPriority, fetchpriority: fetchPriority, sizes: legacyCarouselSizes, widths: legacyCarouselWidths -}}
    {% else %}
        {{- media | image_url: width: carouselItemDesktopMaxWidthX3 | image_tag: preload: preload, loading: loadPriority, fetchpriority: fetchPriority, sizes: sizes, widths: widths -}}
    {% endif %}
</li>
