{% comment %}
    Props:
        id
        index
        type
        name
        deliverableId
        preload
        fetchPriority
        loadPriority
        desktopCoverImage
        coverImage
        variantId
        coverType
        ctaButtonText
        env
        ekoLoading
        qp
        globalQueryparams
        isHidden
        activeExperiment
        legacyCarouselItemWidth
        legacyCarouselItemHeight
        legacyCarouselWidths
        legacyCarouselSizes
        carouselItemMobilepMaxWidth
        carouselItemDesktopMaxWidth
        widths
        sizes
{% endcomment %}
{% assign carouselItemDesktopMaxWidthX2 = carouselItemDesktopMaxWidth | times: 2 %}
{% assign carouselItemDesktopMaxWidthX3 = carouselItemDesktopMaxWidth | times: 3 %}

{% unless widths %}
    {% comment %}
        If widths are not provided, we need to calculate them based on the mobile breakpoint of the generic gallery and the desktop max width of the carousel item
        Assign the static mobile breakpoint of the generic gallery in carouselMobileMediaWidthXL - If changing this value it need to be updated in generic gallery's 'gallery.scss' as well
    {% endcomment %}
    {% assign carouselItemMobileWidthXL = 768 %}
    {% assign carouselItemMobileWidthL = carouselItemMobileWidthXL | minus: 100 %}
    {% assign carouselItemMobileWidthM = carouselItemMobileWidthXL | minus: 200 %}
    {% assign carouselItemMobileWidthS = carouselItemMobileWidthXL | minus: 300 %}
    {% assign carouselItemMobileWidthXS = carouselItemMobileWidthXL | minus: 400 %}
    {% capture widths %}{{ carouselItemMobileWidthXS }}, {{ carouselItemMobileWidthS }}, {{ carouselItemMobileWidthM }}, {{ carouselItemMobileWidthL }}, {{ carouselItemMobileWidthXL }}, {{ carouselItemDesktopMaxWidth }}, {{ carouselItemDesktopMaxWidthX2 }}, {{ carouselItemDesktopMaxWidthX3 }}{% endcapture %}
{% endunless %}

{% unless sizes %}
    {% comment %} If size are not provided, we need to calculate it based on the viewport portion of the carousel item {% endcomment %}
    {% capture sizes %}(min-width: 768px) {{ carouselItemDesktopMaxWidth }}px, {{ carouselItemMobilepMaxWidth }}vw{% endcapture %}
{% endunless %}

{% comment %} Assign Default Values {% endcomment %}
{% capture deliveryPrefix %}https://{{ env | default: '' }}play.eko.com/{% endcapture %}
{% assign coverType = coverType | default: '' %}
{% assign ctaButtonText = ctaButtonText | default: 'See It In Action' %}
{% assign ekoFrameName = 'Eko Frame' %}

{% assign ekoLoadingQP = '' %}
{% if ekoLoading and ekoLoading != '' %}
    {% capture ekoLoadingQP %}&eko_loading={{ ekoLoading }}{% endcapture %}
{% endif %}

{% assign ekoFallbackQP = '' %}
{% if ekoFallback %}
    {% capture ekoFallbackQP %}&_eko_fallback={{ ekoFallback }}{% endcapture %}
{% endif %}

{% assign nocoverQP = '&nocover=true' %}
{% if coverType == 'none' %}
    {% assign nocoverQP = '&nocover=false' %}
{% endif %}

{% assign renderIframe = true %}
{% if activeExperiment != false and ekoLoading != 'deferred' %}
    {% assign renderIframe = false %}
{% endif %}

{% assign additionalQueryParams = '' %}
{% for param in qp %}
    {% capture additionalQueryParams %}{{ additionalQueryParams }}&{{ param[0] }}={{ param[1] }}{% endcapture %}
{% endfor %}
{% assign additionalQueryParams = additionalQueryParams | append: globalQueryparams %}

<li data-id="{{ id }}"
    data-type="{{ type }}"
    data-qp="{{ additionalQueryParams | url_escape }}"
    aria-label="Go to item {{ index }}"
    aria-hidden={% if index > 1 %}"true"{% else %}"false"{% endif %}
{% if isHidden %}
    class="eko-hidden-variant"
{% endif %}
{% if name %}
    data-name="{{ name }}"
{% endif %}
{% assign additionalHashParams = '' %}
{% if variantId != false %}
    data-variant="{{ variantId }}"
    {% assign variantIdString = variantId | append: '' %}
    {% capture additionalHashParams %}{{ additionalHashParams }}#variantId={{ variantMap[variantIdString] | default: variantId }}{% endcapture %}
{% endif %}
{% if deliverableId %}
    data-deliverableid="{{ deliverableId }}"
{% endif %}
{% if type == 'interactive' and coverType %}
    data-cover="{{ coverType }}"
{% endif %}
{% if type == 'interactive' and coverType == 'ctabutton' %}
    data-cta-button-text="{{ ctaButtonText }}"
{% endif %}
{% if device %}
    data-device="{{ device }}"
{% endif %}
>
{% if type == 'interactive' %}
    {% capture interactiveUrl %}{{ deliveryPrefix }}embed?did={{ deliverableId }}{{ nocoverQP }}&eko_pixel=true{{ ekoFallbackQP }}{{ additionalQueryParams }}{% endcapture %}

    {% if renderIframe %}
        <iframe allow="autoplay; fullscreen"
            {% if activeExperiment.type == "deliverable" %}
                class="eko-hidden"
            {% endif %}
            data-variant="CONTROL"
            name="{{ ekoFrameName }}"
            src="{{ interactiveUrl | url_escape }}{{ ekoLoadingQP }}{{ additionalHashParams }}"
            style="width: 100%; height: 100%; border: 0;"></iframe>
        {% if activeExperiment.type == "deliverable" %}
            {% for variant in activeExperiment.variants %}
                {% capture interactiveVariantUrl %}{{ deliveryPrefix }}embed?did={{ variant.params.deliverableId }}{{ nocoverQP }}&eko_pixel=true{{ ekoFallbackQP }}{{ additionalQueryParams }}{% endcapture %}
                <iframe allow="autoplay; fullscreen"
                        class="eko-hidden"
                        data-variant="{{ variant.name }}"
                        name="{{ ekoFrameName }} - {{ variant.name }}"
                        src="{{ interactiveVariantUrl | url_escape }}{{ ekoLoadingQP }}{{ additionalHashParams }}"
                        style="width: 100%; height: 100%; border: 0;"></iframe>
            {% endfor %}
        {% endif %}
    {% else %}
        <template id="eko-interactive-iframe-template">
            <iframe allow="autoplay; fullscreen" name="{{ ekoFrameName }}"
                    src="{{ interactiveUrl | url_escape }}{{ additionalHashParams }}"
                    style="width: 100%; height: 100%; border: 0;"></iframe>
        </template>
    {% endif %}
{% endif %}
{% if type == 'spin' and renderIframe %}
    <iframe allow="fullscreen" src="{{ deliveryPrefix }}spin?did={{ deliverableId }}&eko_pixel=true"
            style="width: 100%; height: 100%; border: 0;"></iframe>
{% endif %}
{% if coverType != 'none' %}
    {% assign coverImageClass = 'eko-cover-image' %}
    {% if desktopCoverImage %}
        {% capture coverImageClass %}eko-mobile-cover-image eko-cover-image{% endcapture %}
        {% if legacyCarouselItemWidth and legacyCarouselItemHeight %}
            {{- desktopCoverImage | image_url: width: legacyCarouselItemWidth, height: legacyCarouselItemHeight | image_tag: preload: preload, loading: loadPriority, fetchpriority: fetchPriority, sizes: legacyCarouselSizes, widths: legacyCarouselWidths, class: 'eko-desktop-cover-image eko-cover-image' -}}
        {% else %}
            {{- desktopCoverImage | image_url: width: carouselItemDesktopMaxWidthX3 | image_tag: preload: preload, loading: loadPriority, fetchpriority: fetchPriority, sizes: sizes, widths: widths, class: 'eko-desktop-cover-image eko-cover-image' -}}
        {% endif %}
    {% endif %}
    {% if legacyCarouselItemWidth and legacyCarouselItemHeight %}
        {{- coverImage | image_url: width: legacyCarouselItemWidth, height: legacyCarouselItemHeight | image_tag: preload: preload, loading: loadPriority, fetchpriority: fetchPriority, sizes: legacyCarouselSizes, widths: legacyCarouselWidths, class: coverImageClass -}}
    {% else %}
        {{- coverImage | image_url: width: carouselItemDesktopMaxWidthX3 | image_tag: preload: preload, loading: loadPriority, fetchpriority: fetchPriority, sizes: sizes, widths: widths, class: coverImageClass -}}
    {% endif %}
{% endif %}

</li>
