<script>
    window.eko = window.eko || {};
    window.eko.activeExperiment = {{ activeExperiment | json }};
    window.eko.metadata = {{ metafield | json }};
    window.eko.globalMetadata = {{ globalMetafield | json }};
    {% if blockSettings %}window.eko.blockSettings = {{ blockSettings | json }};{% endif %}
    window.eko.variants = {{ product.variants | json }};
    {% if product.selected_or_first_available_variant %}window.eko.selectedOrFirstVariantId = {{ product.selected_or_first_available_variant.id }};{% endif %}
    window.eko.pixelid = '{{ shop.domain }}';
    window.eko.liquid = {
        version: '1.0.25',
    };
</script>
