{% assign styleVariableKeys = "primaryColor,accentColor,backgroundColor,navItemsBackgroundColor,carouselItemsBackgroundColor,carouselInteractiveCoverBackgroundColor,navItemsBannerBackgroundColor" | split: ',' %}
{% assign layoutVariableKeys = "navItemsGap,navItemsWidth,navItemsHeight,navItemsRadius,navItemsSelectedMargin,navItemsSelectedThickness,navItemsSelectedUnderlineRadius,navItemsObjectFit,carouselItemsAspectRatio,carouselItemsWidth,carouselItemsRadius,carouselItemsObjectFit,galleryMaxWidth,galleryGap,galleryPadding,navMediaBadgeSize,navMediaBadgeMarginRight,navMediaBadgeMarginTop,navBarPadding,navBannerFontSize,navBannerFontLineHeight,navBannerFontFamily,navBannerFontWeight" | split: ',' %}
{% capture variablesStyle %}{% endcapture %}
{% for item in style %}
    {% if item.name and item.value %}
        {% if styleVariableKeys contains item.name %}
            {% capture variablesStyle %}{{ variablesStyle }}--{{ item.name }}Eko: {{ item.value }};
            {% endcapture %}
        {% endif %}
    {% else %}
        {% if styleVariableKeys contains item[0] %}
            {% capture variablesStyle %}{{ variablesStyle }}--{{ item[0] }}Eko: {{ item[1] }};
            {% endcapture %}
        {% endif %}
    {% endif %}
{% endfor %}

{% for item in layout.desktop.config %}
    {% if item.name and item.value %}
        {% if layoutVariableKeys contains item.name %}
            {% capture variablesStyle %}{{ variablesStyle }} --{{ item.name }}EkoDesktop: {{ item.value }};
            {% endcapture %}
        {% endif %}
    {% else %}
        {% if layoutVariableKeys contains item[0] %}
            {% capture variablesStyle %}{{ variablesStyle }} --{{ item[0] }}EkoDesktop: {{ item[1] }};
            {% endcapture %}
        {% endif %}
    {% endif %}
{% endfor %}

{% for item in layout.mobile.config %}
    {% if item.name and item.value %}
        {% if layoutVariableKeys contains item.name %}
            {% capture variablesStyle %}{{ variablesStyle }} --{{ item.name }}EkoMobile: {{ item.value }};
            {% endcapture %}
        {% endif %}
    {% else %}
        {% if layoutVariableKeys contains item[0] %}
            {% capture variablesStyle %}{{ variablesStyle }} --{{ item[0] }}EkoMobile: {{ item[1] }};
            {% endcapture %}
        {% endif %}
    {% endif %}
{% endfor %}

<style>
    .eko-gallery{
        {{ variablesStyle | default: '' }}
    }
</style>
