{% comment %}
    Props:
        navOptions
        id
        index
        assetType
        assetName
        deliverableId
        media
        isHidden
        variantId
        device
        mobileMediaBadges
        desktopMediaBadges
        label
        stepsIndication
        icon
        ariaCurrentValue
        navMobileMediaWidth
        navDesktopMediaWidth
{% endcomment %}
{% if ariaCurrentValue %}
    {% assign ariaCurrent = ariaCurrentValue %}
{% elsif index == 1 %}
    {% assign ariaCurrent = "true" %}
{% else %}
    {% assign ariaCurrent = "false" %}
{% endif %}

{% if navOptions %} {% comment %} legacy use of navOptions {% endcomment %}
    {% assign width = navOptions.item.width %}
    {% assign height = navOptions.item.height %}
    {% assign widths = navOptions.widths %}
    {% assign sizes = navOptions.sizes %}
{% else %} {% comment %} current use of layout.config object  {% endcomment %}
    {% assign navMobileMediaWidth2x = navMobileMediaWidth | times: 2 %}
    {% assign navMobileMediaWidth3x = navMobileMediaWidth | times: 3 %}
    {% assign navDesktopMediaWidth2x = navDesktopMediaWidth | times: 2 %}
    {% assign navDesktopMediaWidth3x = navDesktopMediaWidth | times: 3 %}
    {% capture widths %}{{ navMobileMediaWidth }}, {{ navMobileMediaWidth2x }}, {{ navMobileMediaWidth3x }}, {{ navDesktopMediaWidth }}, {{ navDesktopMediaWidth2x }}, {{ navDesktopMediaWidth3x }}{% endcapture %}
    {% capture sizes %}(max-width: 768px) {{ navMobileMediaWidth }}px, (min-width: 769px) {{ navDesktopMediaWidth }}px{% endcapture %}
{% endif %}

{% assign badgeMobile = '' %}
{% if mobileMediaBadges contains assetType %}
    {% assign badgeMobile = 'mobile' %}
{% endif %}
{% assign badgeDesktop = '' %}
{% if desktopMediaBadges contains assetType %}
    {% assign badgeDesktop = 'desktop' %}
{% endif %}

{% assign badge = badgeMobile | append: ' ' | append: badgeDesktop | strip %}

<li data-id="{{ id }}"
    data-type="{{ assetType }}"
    aria-label="Go to item {{ index }}"
    aria-current={{ ariaCurrent }}
    {% if badge != empty %}
        data-badge="{{ badge }}"
    {% endif %}
    {% if assetName %}
        data-name="{{ assetName }}"
    {% endif %}
    {% if deliverableId %}
        data-deliverableid="{{ deliverableId }}"
    {% endif %}
    {% if variantId != false %}
        data-variant="{{ variantId }}"
    {% endif %}
    {% if isHidden %}
        class="eko-hidden-variant"
    {% endif %}
    {% if device %}
        data-device="{{ device }}"
    {% endif %}
>
    <button type="button">
        {% if navOptions %}
            {{- media | image_url: width: width, height: height | image_tag: widths: widths, sizes: sizes, preload: true, loading: 'eager', fetchpriority: 'high' -}}
        {% else %}
            {{- media | image_url: width: navDesktopMediaWidth3x | image_tag: widths: widths, sizes: sizes, preload: true, loading: 'eager', fetchpriority: 'high' -}}
        {% endif %}
        <div class="addons-container">
            {% if stepsIndication %}
                <div class="step-indicator">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            {% endif %}
            {% if label %}
                <div class="thumb-label">{{ label }}</div>
            {% endif %}
        </div>
        {% if icon %}
            <div class="item-icon" >
                <span style="background-image: url('{{ icon }}');"></span>
            </div>
        {% endif %}
    </button>
</li>
