{% comment %}
    {% render 'eko-video', deliverableId: '65147f0c226c1a68811c91c5', height: 300 %}
{% endcomment%}
<script>
if (!window.EkoAnalytics) {
    !function () {
        var t, a, e, s, n;
        'undefined' == typeof window || window.EkoAnalytics || (t = window, a = 'EkoAnalytics', e = document, s = 'script', t[a] || (t[a] = function () {
            t[a].f ? (t[a].q.push(arguments), t[a].ts.push(Date.now())) : t[a].apply(t, arguments);
        }, t[a].f = !0, t[a].q = t[a].q || [], t[a].ts = t[a].ts || [], t[a].t = Number(new Date), t[a].sa = [], t[a].init = function (ids) {
            t[a].id = ids;
        }, t[a].childRequestIdsCallback = function (e) {
            e.data && 'ea-ids-request' === e.data.type && t[a].sa.push(e.source);
        }, t.addEventListener('message', t[a].childRequestIdsCallback), (n = e.createElement(s)).setAttribute('pxid', '{{ shop.domain }}'), n.type = 'text/javascript', n.async = !0, n.src = 'https://pxea.eko.com/ekoanalytics/master/latest/EkoAnalyticsPlatform.min.gz.js', (e = e.getElementsByTagName(s)[0]).parentNode.insertBefore(n, e)));
    }();
    window.EkoAnalytics('configure', {
        snowplow: {
            options: {
                appId: 'ekoStore',
            },
        },
        ekoEnv: 'production',
        env: 'website',
    });
    window.EkoAnalytics('track', 'PageView');
}
</script>

{% if deliverableId and deliverableId != empty %}
    <iframe 
        src="https://play.eko.com/embed?did={{ deliverableId }}&eko_pixel=true"
        style="width: 100%; border: 0; left:0; right:0; display: initial; height: {% if height and height != empty %}{{height}}px;{% else %}100%{% endif %}"
        allowfullscreen
        allow="autoplay; fullscreen">            
    </iframe>
{% endif %}
