<script>
    if (!window.EkoAnalytics) {
        !function () {
            var t, a, e, s, n;
            'undefined' == typeof window || window.EkoAnalytics || (t = window, a = 'EkoAnalytics', e = document, s = 'script', t[a] || (t[a] = function () {
                t[a].f ? (t[a].q.push(arguments), t[a].ts.push(Date.now())) : t[a].apply(t, arguments);
            }, t[a].f = !0, t[a].q = t[a].q || [], t[a].ts = t[a].ts || [], t[a].t = Number(new Date), t[a].sa = [], t[a].cb = [], t[a].init = function (ids) {
                t[a].id = ids;
            }, t[a].childRequestIdsCallback = function (e) {
                e.data && 'ea-ids-request' === e.data.type && t[a].sa.push(e.source);
            }, t.addEventListener('message', t[a].childRequestIdsCallback)
                {% if loadScript %}
                    ,(n = e.createElement(s)).setAttribute('pxid', '{{ shop.domain }}'), n.type = 'text/javascript', n.async = !0, n.src = 'https://pxea.eko.com/ekoanalytics/master/latest/EkoAnalyticsPlatform.min.gz.js', (e = e.getElementsByTagName(s)[0]).parentNode.insertBefore(n, e)
                {% endif %}
            ));
        }();

        window.EkoAnalytics('configure', {
            snowplow: {
                options: {
                    appId: 'ekoStore',
                },
            },
            ekoEnv: '{{ galleryEnv | default: 'production' }}',
            env: 'website',
        });
        window.EkoAnalytics('track', 'PageView');
    }
</script>

<script>
    if (window.EkoAnalytics) {
        let setCookie = (key, value, additionalProperties = '') => {
            let hostname = window.location.hostname;
            let domain = hostname;

            let parts = hostname.split('.');
            if (parts.length > 2) {
                domain = parts.slice(-2).join('.');
            }

            window.document.cookie = `${key}=${value}; domain=.${domain}; path=/; secure; samesite=strict; ${additionalProperties}`;
        };

        let setCookies = () => {
            setCookie('easid', encodeURIComponent(window.EkoAnalytics('getSid')));
            setCookie('eauid', encodeURIComponent(window.EkoAnalytics('getUid')), 'max-age=2147483647');
        };

        // If EkoAnalytics is not initialized yet, push setCookies to the cb array
        if (window.EkoAnalytics.cb) {
            window.EkoAnalytics.cb.push(setCookies);
        } else {
            // If EkoAnalytics is already initialized, set cookies immediately
            setCookies();
        }
    }
</script>
