{% if layout %}
    {% comment %}
    /////////////////////////
    // Desktop Layout Classes
    /////////////////////////
    {% endcomment %}
    {% capture desktopLayoutClass %}eko-desktop-{{ layout.desktop.type | default: 'nav' }}-layout{% endcapture %}
    {% capture layoutClasses %}{{ desktopLayoutClass }}{% endcapture %}
    {% if layout.desktop.type == 'nav' or layout.desktop.type == nil %}
        {% comment %} Since the default nav type is 'nav' we allow this code to run even if the layout.desktop.type is nil {% endcomment %}
        {% assign orientation = 'left' %}
        {% if layout.desktop.config.orientation %}
            {% comment %}Shopify{% endcomment %}
            {% assign orientation = layout.desktop.config.orientation %}
        {% else %}
            {% comment %}Magento{% endcomment %}
            {% for attr in layout.desktop.config %}
                {% if attr.name == 'orientation' %}
                    {% assign orientation = attr.value %}
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% capture navOrientationClass %}eko-desktop-nav-{{ orientation }}{% endcapture %}
        {% capture layoutClasses %}{{ layoutClasses }} {{ navOrientationClass }}{% endcapture %}
    {% endif %}

    {% comment %}
    /////////////////////////
    // Mobile Layout Classes
    /////////////////////////
    {% endcomment %}
    {% capture mobileLayoutClass %}eko-mobile-{{ layout.mobile.type | default: 'nav' }}-layout{% endcapture %}
    {% capture layoutClasses %}{{ layoutClasses }} {{ mobileLayoutClass }}{% endcapture %}
    {% if layout.mobile.type == 'nav' or layout.mobile.type == nil %}
        {% assign orientation = 'bottom' %}
        {% if layout.mobile.config.orientation %}
            {% comment %}Shopify{% endcomment %}
            {% assign orientation = layout.mobile.config.orientation %}
        {% else %}
            {% comment %}Magento{% endcomment %}
            {% for attr in layout.mobile.config %}
                {% if attr.name == 'orientation' %}
                    {% assign orientation = attr.value %}
                    {% break %}
                {% endif %}
            {% endfor %}
        {% endif %}

        {% capture navOrientationClass %}eko-mobile-nav-{{ orientation }}{% endcapture %}
        {% capture layoutClasses %}{{ layoutClasses }} {{ navOrientationClass }}{% endcapture %}
    {% endif %}
    {{ layoutClasses }}
{% endif %}
