{% comment %}
    props:
        enableMobileArrows
        enableDesktopArrows
{% endcomment %}

{% assign navArrowBaseClasses = 'eko-nav-arrow eko-hidden-nav-button' %}

{% if enableMobileArrows %}
    {% assign arrowsMobileClass = 'eko-mobile-arrows' | default: '' %}
{% endif %}
{% if enableDesktopArrows %}
    {% assign arrowsDesktopClass = 'eko-desktop-arrows' | default: '' %}
{% endif %}

{% if enableMobileArrows or enableDesktopArrows %}
    {% comment %} both arrows are hidden when mount by eko-hidden-nav-button class and get shown by js when nav items load {% endcomment %}
    <button
        type="button"
        aria-label="Go to previous item"
        aria-hidden="true"
        id="eko-nav-prev-arrow"
        class="{{ navArrowBaseClasses }} eko-prev-nav-button {{ arrowsMobileClass }} {{ arrowsDesktopClass }}"
    >
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M5.56127 9.52817C5.28966 9.22635 5.28966 8.77361 5.56127 8.502L10.39 3.67331C10.6918 3.37157 11.1445 3.37157 11.4161 3.67331C11.7179 3.94492 11.7179 4.39766 11.4161 4.66927L7.10044 8.98487L11.4161 13.3307C11.7179 13.6023 11.7179 14.055 11.4161 14.3266C11.1445 14.6285 10.6918 14.6285 10.4202 14.3266L5.56127 9.52817Z" fill="black"/>
        </svg>
    </button>
    <button
        type="button"
        aria-label="Go to next item"
        aria-hidden="false"
        id="eko-nav-next-arrow"
        class="{{ navArrowBaseClasses }} eko-next-nav-button {{ arrowsMobileClass }} {{ arrowsDesktopClass }}"
    >
        <svg width="18" height="18" viewBox="0 0 18 18" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M12.4387 8.47185C12.7103 8.77367 12.7103 9.22641 12.4387 9.49802L7.61003 14.3267C7.30821 14.6284 6.85547 14.6284 6.58386 14.3267C6.28212 14.0551 6.28212 13.6024 6.58386 13.3308L10.8996 9.01515L6.58386 4.66933C6.28212 4.39772 6.28212 3.94499 6.58386 3.67338C6.85547 3.37155 7.30821 3.37155 7.57982 3.67338L12.4387 8.47185Z" fill="black"/>
        </svg>
    </button>
{% endif %}